@model TP02_SWII6.Models.Container

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir</h1>
<br/>

<h3>Tem certeza que deseja excluir o Container?</h3>
<div>
    <h4>Container</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tamanho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tamanho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BL.BLId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ContainerId" />
        <br />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Retornar à Lista</a>
    </form>
</div>
